@import "tailwindcss";

:root {
  --background: #1d1c1c;
  --foreground: #ededed;
  --primary: #ff6b00;
  --secondary: #dcdbce;
}

.debug {
  @apply border border-red-500;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --animate-minibounce: minibounce 5s ease-in-out infinite;
}


@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overscroll-behavior-y: contain;
  overflow: hidden;
  scroll-behavior: smooth;
}

@keyframes minibounce {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}